.App {
  text-align: center;
  background-color: rgba(148, 243, 110, 0.322);
  width: 1200px;
  height: 800px;
  margin: 0 auto;
}
.board {
  width: 90%;
  margin: 30px auto;
}
.BoardMain>.BoardList>Table{
  width: 80%;
  margin: 20px auto;
}
.BoardMain>.BoardList>Table tr>td {
  height: 50px;
}

.btnGroup{
  margin-top: 50px;
}
.btnGroup Button{
  margin: 0 10px;
}
.container{
  text-align: left;
}

/* 게시글 제목 */
.cardTitle {
  font-weight: 700;
  font-size: 30px;
}
/* 게시글 하단 */
.bottomText{
  color: grey;
}
/* 작성자 */
.writer{
  color: black;
  font-size: 16px;
  font-weight: 600;
}

